            <main>
                <space></space>
                <content class="start main">
                    <div>
                        <a class="big title" href="/regeln">REGELN</a>
                        <a class="big title" href="/faq">
                            <br/>FAQ
                        </a>
                        <a style="display:none;" id="commandlist" class="big title" href="/commands">
                            <br/>Commands
                        </a>
                    </div>
                </content>
                <space></space>
            </main>
