.guide-section-1 {
    min-height: 318px;
    background-image: linear-gradient(#1a1a1a, #292e33);

    .guide-container {
      position: relative;
    }

    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 25%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
}



.u-custom-list .u-list-icon {
    top: 20px;
}

.guide-section-2 {
    background-image: none;
    .u-sheet-1 {
        min-height: 1052px;
    }
    .u-layout-wrap-1 {
        margin-top: 49px;
        margin-bottom: 60px;
    }
    .u-layout-cell-1 {
        min-height: 848px;
    }
    .u-container-layout-1 {
        padding: 0;
    }
    .u-accordion-1 {
        width: 847px;
        margin: 0 auto -14px 0;
    }
    .u-accordion-link-1 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-1 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-1 {
        min-height: 150px;
    }
    .u-container-layout-2 {
        padding: 20px 30px;
    }
    .u-text-1 {
        line-height: 1.8;
        margin: 0;
    }
    .u-accordion-link-2 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-2 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-2 {
        min-height: 150px;
    }
    .u-container-layout-3 {
        padding: 20px 30px;
    }
    .u-text-2 {
        line-height: 1.8;
        margin: 0;
    }
    .u-accordion-link-3 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-3 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-3 {
        min-height: 152px;
    }
    .u-container-layout-4 {
        padding: 20px 30px;
    }
    .u-text-3 {
        line-height: 1.8;
        margin: 0;
    }
    .u-accordion-link-4 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-4 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-4 {
        min-height: 150px;
    }
    .u-container-layout-5 {
        padding: 30px;
    }
    .u-accordion-link-5 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-5 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-5 {
        min-height: 150px;
    }
    .u-container-layout-6 {
        padding: 30px;
    }
    .u-accordion-link-6 {
        background-image: none;
        font-weight: 700;
        padding: 30px;
    }
    .u-icon-6 {
        height: 20px;
        width: 20px;
    }
    .u-accordion-pane-6 {
        min-height: 150px;
    }
    .u-container-layout-7 {
        padding: 30px;
    }
    .u-layout-cell-2 {
        min-height: 848px;
    }
    .u-container-layout-8 {
        padding: 0;
    }
    .u-text-4 {
        font-size: 1.25rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
        margin: 14px auto 0 80px;
    }
    .u-table-1 {
        width: 277px;
        margin: 16px auto 0 0;
    }
    .u-table-cell-1 {
        font-weight: 700;
    }
    .u-table-cell-3 {
        font-weight: 700;
        background-image: none;
    }
    .u-table-cell-4 {
        background-image: none;
    }
    .u-table-cell-5 {
        font-weight: 700;
    }
    .u-btn-1 {
        background-image: none;
        padding: 0;
    }
    .u-table-cell-7 {
        font-weight: 700;
        background-image: none;
    }
    .u-table-cell-8 {
        background-image: none;
    }
    .u-table-cell-9 {
        font-weight: 700;
    }
    .u-text-5 {
        font-size: 1.25rem;
        text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
        font-weight: 700;
        margin: 14px auto 0 116px;
    }
    .u-table-2 {
        width: 246px;
        margin: 8px auto 0 16px;
    }
    .u-icon-7 {
        font-size: 2.4376em;
    }
    .u-btn-2 {
        background-image: none;
        padding: 0;
    }
    .u-table-cell-13 {
        background-image: none;
    }
    .u-icon-8 {
        font-size: 2.5em;
    }
    .u-table-cell-14 {
        background-image: none;
    }
    .u-btn-3 {
        background-image: none;
        padding: 0;
    }
    .u-icon-9 {
        font-size: 2.375em;
    }
    .u-btn-4 {
        background-image: none;
        padding: 0;
    }
    .u-table-cell-17 {
        background-image: none;
    }
    .u-icon-10 {
        font-size: 2.5626em;
    }
    .u-table-cell-18 {
        background-image: none;
    }
    .u-btn-5 {
        background-image: none;
        padding: 0;
    }
}
