
@media (max-width: 1199px) {
    .u-section-1 {
        .u-sheet-1 {
            min-height: 500px;
            min-height: 484px;
        }
        .u-text-1 {
            margin-right: 363px;
            margin-left: 338px;
        }
        .u-layout-cell-1 {
            min-height: 461px;
        }
        .u-layout-cell-2 {
            min-height: 231px;
        }
        .u-layout-cell-3 {
            min-height: 230px;
        }
        .u-image-1 {
            margin-right: calc(((100% - 940px) / 2) + 35px);
            margin-left: initial;
        }
        .u-group-1 {
            margin-left: calc(((100% - 940px) / 2) + -15px);
            height: auto;
        }
        .u-container-layout-1 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .u-repeater-1 {
            min-height: 364px;
            grid-template-columns: repeat(3, calc(33.333333333333336% - 15px));
        }
    }
    .u-section-2 {
        .u-list-1 {
            margin-top: 117px;
        }
        .u-repeater-1 {
            grid-template-columns: repeat(4, calc(25% - 7.5px));
        }
        .u-sheet-1 {
            min-height: 444px;
        }
        .u-slider-1 {
            min-height: 319px;
        }
        .u-image {
            height: 399px;
        }
    }
    .u-section-3 {
        .u-sheet-1 {
            min-height: 426px;
        }
        .u-list-1 {
            height: auto;
            margin-right: initial;
            margin-left: initial;
        }
        .u-image-1 {
            height: 165px;
            width: 165px;
        }
        .u-text-2 {
            margin-left: 16px;
            margin-right: 16px;
        }
        .u-image-2 {
            height: 165px;
            width: 165px;
        }
        .u-text-4 {
            margin-left: 16px;
            margin-right: 16px;
        }
        .u-image-3 {
            height: 165px;
            width: 165px;
        }
        .u-text-6 {
            margin-left: 16px;
            margin-right: 16px;
        }
        .u-image-4 {
            height: 165px;
            width: 165px;
        }
        .u-text-8 {
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}
@media (max-width: 991px) {
    .u-section-1 {
        .u-sheet-1 {
            min-height: 392px;
            min-height: 782px;
            min-height: 956px;
        }
        .u-text-1 {
            margin-right: 278px;
            margin-left: 228px;
        }
        .u-layout-cell-1 {
            min-height: 353px;
        }
        .u-layout-cell-2 {
            min-height: 177px;
        }
        .u-layout-cell-3 {
            min-height: 176px;
        }
        min-height: 980px;
        .u-image-1 {
            width: 720px;
            height: 405px;
            margin-right: calc(((100% - 720px) / 2));
            height: 423px;
            margin-left: initial;
        }
        .u-group-1 {
            margin-top: -51px;
            margin-bottom: 60px;
            margin-left: calc(((100% - 720px) / 2) + -15px);
        }
        .u-post-details-1 {
            margin-bottom: 60px;
        }
        .u-repeater-1 {
            min-height: 836px;
            grid-template-columns: repeat(2, calc(50% - 11.25px));
        }
    }
    .u-section-2 {
        .u-list-1 {
            margin-top: 933px;
        }
        .u-repeater-1 {
            grid-auto-columns: calc(50% - 5px);
            grid-template-columns: repeat(2, calc(50% - 5px));
        }
        .u-sheet-1 {
            min-height: 393px;
        }
        .u-slider-1 {
            min-height: 268px;
        }
        .u-container-layout {
            padding-left: 30px;
            padding-right: 30px;
        }
        .u-image {
            width: 660px;
            height: 371px;
        }
    }
    .u-section-3 {
        .u-sheet-1 {
            min-height: 738px;
        }
        .u-repeater-1 {
            grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        }
        .u-text-2 {
            margin-left: 12px;
            margin-right: 12px;
        }
        .u-text-4 {
            margin-left: 12px;
            margin-right: 12px;
        }
        .u-text-6 {
            margin-left: 12px;
            margin-right: 12px;
        }
        .u-text-8 {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}
@media (max-width: 767px) {
    .u-section-1 {
        .u-sheet-1 {
            min-height: 1102px;
            min-height: 722px;
        }
        .u-text-1 {
            margin-right: 209px;
            margin-left: 138px;
        }
        .u-layout-cell-1 {
            min-height: 496px;
        }
        .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-layout-cell-2 {
            min-height: 284px;
        }
        .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-layout-cell-3 {
            min-height: 283px;
        }
        .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
        min-height: 879px;
        .u-image-1 {
            width: 540px;
            height: 304px;
            margin-right: calc(((100% - 540px) / 2));
            height: 354px;
            margin-top: 9px;
            margin-left: initial;
            height: 278px;
        }
        .u-group-1 {
            margin-top: 50px;
            margin-left: calc(((100% - 540px) / 2) + -15px);
        }
        .u-repeater-1 {
            grid-template-columns: 100%;
        }
        .u-image-2 {
            height: 278px;
        }
        .u-image-3 {
            height: 278px;
        }
    }
    .u-section-2 {
        .u-list-1 {
            margin-top: 1564px;
        }
        .u-repeater-1 {
            grid-auto-columns: calc(100% - 0px);
            grid-template-columns: 100%;
        }
        .u-sheet-1 {
            min-height: 354px;
        }
        .u-slider-1 {
            min-height: 229px;
        }
        .u-container-layout {
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-image {
            width: 520px;
            height: 292px;
        }
    }
    .u-section-3 {
        .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-text-2 {
            margin-left: 9px;
            margin-right: 9px;
        }
        .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-text-4 {
            margin-left: 9px;
            margin-right: 9px;
        }
        .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-text-6 {
            margin-left: 9px;
            margin-right: 9px;
        }
        .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .u-text-8 {
            margin-left: 9px;
            margin-right: 9px;
        }
    }
}
@media (max-width: 575px) {
    .u-section-1 {
        .u-sheet-1 {
            min-height: 708px;
            min-height: 656px;
        }
        .u-text-1 {
            margin-right: 132px;
            margin-left: 38px;
            margin-right: 0;
        }
        .u-layout-cell-1 {
            min-height: 312px;
        }
        .u-layout-cell-2 {
            min-height: 179px;
        }
        .u-layout-cell-3 {
            min-height: 178px;
        }
        min-height: 766px;
        .u-image-1 {
            width: 340px;
            height: 191px;
            margin-right: calc(((100% - 340px) / 2));
            height: 275px;
            margin-left: initial;
        }
        .u-group-1 {
            width: 340px;
            margin-left: calc(((100% - 340px) / 2));
        }
    }
    .u-section-2 {
        .u-list-1 {
            margin-top: 1664px;
        }
        .u-repeater-1 {
            grid-auto-columns: 100%;
        }
        .u-sheet-1 {
            min-height: 229px;
        }
        .u-slider-1 {
            min-height: 104px;
        }
        .u-image {
            width: 320px;
            height: 180px;
        }
    }
    .u-section-3 {
        .u-repeater-1 {
            grid-template-columns: 100%;
        }
        .u-text-2 {
            margin-left: 6px;
            margin-right: 6px;
        }
        .u-text-4 {
            margin-left: 6px;
            margin-right: 6px;
        }
        .u-text-6 {
            margin-left: 6px;
            margin-right: 6px;
        }
        .u-text-8 {
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}
