.u-section-1 {
    background-image: none;
    min-height: 607px;

    /*
        u-text-section
    */
    .u-text-header {
        font-weight: 900;
        text-align: center;
    }

    .u-text-1 {
        margin: 30px 136px 0 0;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
    }
    .u-text-2 {
        line-height: 1.8;
        margin: 20px auto 0 0;
    }
    .u-text-3 {
        margin-top: 20px;
        margin-bottom: 0;
    }

    /*
        u-image-section
    */
   .u-image-1 {
        height: 213px;
        width: 213px;
        background-position: 50% 50%;
        margin: 0 auto;
    }
    .u-image-raid {
        width: 814px;
        height: 458px;
        margin: -334px calc(((100% - 1140px) / 2) + 35px) 0 auto;
    }
    .u-image-post {
        height: 486px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    .u-image-2 {
        height: 222px;
        margin-top: 17px;
        margin-bottom: 0;
    }
    .u-btn {
        background-image: none;
        border-style: none none solid;
        margin: 17px auto 0 0;
        padding: 0;
    }
    .u-sheet {
        min-height: 560px;
    }
    .u-layout-wrap {
        margin-top: 8px;
        margin-bottom: 1px;
    }
    .u-layout-cell-1 {
        min-height: 559px;
        background-image: none;
    }
    .u-layout-cell-2 {
        min-height: 280px;
        background-image: none;
    }
    .u-container-layout {
        padding-left: 30px;
        padding-right: 30px;
    }
    .u-shape-1 {
        height: 250px;
        margin-top: 124px;
        margin-bottom: 0;
    }
    .u-group-1 {
        width: 513px;
        min-height: 195px;
        height: auto;
        margin: -104px auto 18px calc(((100% - 1140px) / 2) + -15px);
    }
    .u-post-details {
        min-height: 375px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .u-metadata-1 {
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 0;
    }
    .u-repeater {
        margin-top: 60px;
        margin-bottom: 60px;
        min-height: 441px;
        grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
        height: auto;
        grid-gap: 22px;
    }
    .u-repeater-item-1 {
        background-image: none;
    }
}

.u-section-2 {
    background-image: none;
    .u-sheet {
        min-height: 405px;
    }
    .u-list {
        margin-bottom: 60px;
        margin-top: 60px;
    }
    .u-repeater {
        min-height: 265px;
        grid-auto-columns: calc(25% - 7.5px);
        grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
        grid-gap: 10px 10px;
    }
    .u-list-item {
        background-image: none;
    }
    .u-container-layout {
        padding: 10px;
    }
    .u-gallery-nav-left {
        z-index: 5000;
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }
    .u-gallery-nav-right {
        z-index: 5000;
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
    .u-slider {
        min-height: 385px;
        margin-bottom: 60px;
    }
    .u-carousel-indicators {
        position: absolute;
        bottom: 10px;
    }
    .u-container-layout {
        padding: 30px 50px;
    }
    .u-image {
        width: 520px;
        height: 300px;
        margin: 20px auto;
    }
    .u-carousel-control-left {
        width: 50px;
        height: 50px;
        left: 0;
        right: auto;
        position: absolute;
    }
    .u-carousel-control-right {
        width: 50px;
        height: 50px;
        left: auto;
        position: absolute;
        right: 0;
    }
}

.u-section-3 {
    .u-sheet {
        min-height: 495px;
    }
    .u-list {
        grid-template-rows: auto;
        margin: 50px auto 50px 0;
    }
    .u-repeater {
        grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
        grid-gap: 10px 10px;
        min-height: 396px;
    }
    .u-image-f {
        height: 213px;
        width: 213px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
        background-position: 50% 50%;
        margin: 0 auto;
    }
    .u-container-layout {
        padding: 30px;
    }
    .u-image-m {
        height: 213px;
        width: 213px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
        background-position: 50% 50%;
        margin: 0 auto;
    }
    .u-text {
        margin: 20px 0 0;
    }
}

.u-nav-item {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 700;
}

.u-header .u-menu-1 {
    margin: -36px 0px 0px auto !important;
}

.u-section-row{
    margin-top: 30px;
    margin-bottom: 30px;
}
