:root {
    --green-dark: #2E6B17;
    --green-normal: #37A700;
    --green-neon: #10D401;
    --green-light: #76ea66;
    --purple-dark: #360842;
    --purple-normal: #5F1679;
    --purple-neon: #7448A2;
    --purple-light: #C978EF;
    --pink-dark: #640340;
    --pink-normal: #CC058E;
    --pink-neon: #FF0094;
    --pink-light: #FD80B6;
    --slight-dark: rgb(0, 0, 0, 0.2);
    --slighty-more-dark: rgb(0, 0, 0, 0.4);
    --more-dark: rgb(20,23,10,0.8);
  }

@font-face { font-family: antihero; src: url('https://akurosia.github.io/MisterNougatTest/assets/fonts/Antihero.ttf'); }
@font-face { font-family: eeb; src: url('https://akurosia.github.io/MisterNougatTest/assets/fonts/Elgethy Est Bold.ttf'); }

a {
    all: unset;
    cursor: pointer !important;
}

html, head, body {
    padding: 0;
    margin: 0;
}

body {
    background: var(--green-light);
    background: linear-gradient(56deg, var(--green-light) 0%, var(--green-dark) 100%);
}

nav {
    height: clamp(2rem, 3vw, 3rem);
    background: var(--more-dark);
    padding: 5px;
    align-items: center;
    display: flex;
}

.logo {
    padding-left: 5px;
}

.logo-text {
    color: var(--pink-neon);
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 5px;
    font-family: 'antihero', Arial, Helvetica, san-serif;
    font-size: clamp(1rem, 2vw, 2rem);
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  min-height: 100%;
}

.main {
    text-align: center;
    background: var(--slighty-more-dark);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid var(--more-dark);
    min-height: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    font-family: 'antihero', Arial, Helvetica, san-serif;
    font-size: clamp(1.25rem, 5vw, 5rem);
    color: var(--pink-neon);
    text-shadow: 5px 5px black;
}

.big {
    font-size: clamp(3rem, 10vw, 10rem);
}

#search {
    width: 80%;
    border-radius: 10px;
}

.accordion {
    padding: 0% 10% 0% 10%;
}

.accordion-item {
    border-color: var(--more-dark) !important;
}

.accordion-button {
    font-family: 'eeb', Arial, Helvetica, san-serif !important;
    font-size: clamp(1rem, 2vw, 2rem) !important;
    color: white !important;
    background-color: var(--green-dark) !important;
}

footer {
    background: var(--more-dark);
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--pink-neon) !important;
    font-family: 'eeb', Arial, Helvetica, san-serif;
    text-decoration: none; /* no underline */
    font-size: clamp(1rem, 2rem, 3rem);
}

footer > a {
    color: var(--pink-neon) !important;
}
