
            <nav class="header">
                <img class="logo" src="{{ '/favicon.png' | prepend: site.baseurl }}" height="40" class="d-inline-block align-top" alt=""/>
                <a href="/index.html" class="logo-text">MC.MISTERNOUGAT.DE</a>
                {%- if category == "startseite" -%}
                {%- else -%}
                    <a href="{{ '/regeln/index.html' | prepend: site.baseurl }}" class="logo-text">REGELN</a>
                    <a href="{{ '/faq/index.html' | prepend: site.baseurl }}" class="logo-text">FAQ</a>
                    <a href="{{ '/commands/index.html' | prepend: site.baseurl }}" class="logo-text" style="display: none;" id="commandlist">Commands</a>
                {%- endif -%}
            </nav>
