<div class="u-container-style u-layout-cell u-size-45 u-layout-cell-1">
  <div class="u-container-layout u-container-layout-1">
    <div class="u-accordion u-spacing-2 u-accordion-1">
      {%- for phase in page.phases -%}
        <div class="u-accordion-item">
          <a class="u-accordion-link u-border-1 u-border-active-grey-25 u-border-grey-30 u-border-hover-grey-30 u-border-no-left u-border-no-right u-border-no-top u-button-style u-text-active-white u-text-grey-25 u-text-hover-black u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="false">
            {%- if phase.title -%}
              <span class="u-accordion-link-text">{{phase.title}}</span>
            {%- else -%}
              <span class="u-accordion-link-text">Phase: {{ forloop.index | roman }}</span>
            {%- endif -%}
            <span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efea"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-efea" style="enable-background:new 0 0 512 512;">
              <g>
                <g>
                  <path d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0 c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878 l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z"></path>
                </g>
              </g>
            </svg>
            </span>
          </a>
          <div class="u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <ul class="u-custom-list u-text u-text-1">
                {%- for note in phase.notes -%}
                  <li>
                    <div class="u-list-icon">
                      <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content">–</div>
                    </div>{{note.note}}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
